.box{
    border: 1px solid #ccc;
    padding-left: 15px;
    box-shadow: 0 0 6px #ccc;
    margin: 10px 0;
}
/* 注意：当启用 CSS 模块化之后，这里所有的类名，都是私有的，如果想把类名设置成全局的一个类。可以把这个类名，
用:global() 包裹起来 */
.title{
    font-size: 16px;
    color: purple;
}

.body{
    font-size: 14px;
    color: red;
}
